.newsletter {
  grid-area: newsletter;
  input {
    outline: none;
    border: 1px solid #999;
    flex: 1;
    height: 40px;
    font-size: 14px;
    padding-left: 10px;
  }
  button {
    width: 150px;
  }
  p {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    a {
      color: $blue-color;
      text-decoration: underline;
    }
  }
}
.flex {
  display: flex;
  margin-top: 10px;
}
