.offers {
  grid-area: offers;
  position: relative;
  overflow: hidden;
  height: 220px;
  background: #fff;
  border-radius: 10px;
  box-shadow: $shadow-1;
  // background-image: url('/images/flash.webp');
  background-image: url('https://img.lovepik.com/background/20211021/large/lovepik-e-commerce-banner-background-image_500366534.jpg');
  // background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-contrast-color-wave-point-geometric-banner-image_9983.jpg');
  // background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-color-horn-polygon-pop-wind-image_16349.jpg');
  // background-position: -275px -135px;
  background-size: cover;
  background-repeat: no-repeat;
  &__text {
    max-width: 200px;
    position: absolute;
    top: 1.3rem;
    left: 2rem;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.418);
    padding: 1rem;
    color: $blue-color;
    text-align: center;
    a {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $blue-color;
      height: 40px;
      font-weight: 600;
      font-size: 1rem;
      color: #fff;
      border: 1px solid #fff;
      animation: all 0.2s ease-in-out;
      border-color: #fff;
      &:hover {
        transform: scale(1.05);
        font-size: 16px;
      }
    }
  }
}
